./*.fits
*/data/*.fits
*/data/*/*.fits
*.pyc
*.pkl
*_sci.fits
*_wht.fits
*/model/fast_model/*
*PSF*img*.pdf
*corner.pdf
%*.fits
*/prerun_model*/*
*.gif
*/otherband_data/*
*.log
*.aux
*.cls
*.bst
*.eps
*~
manuscript/mnras_version/manuscript.pdf
*.gz
manuscript/mnras_version/mnras_guide.tex
manuscript/mnras_version/manuscript.out
*.cpkl
*.cat
